body {
  margin: 0;
  font-size: 1rem;
  min-height: 100vh;
  background: #abdfff;
  font-family: Courier New;
}

input {
  font-family: Courier New;
  background: white;
  border-radius: 5px;
  height: 2rem;
  width: 15rem;
  font-size: 1rem;
  border: none;
  color: black;
  padding: 0 1rem;
  margin: 0 5px;
}

input:focus {
  outline: 2px solid blue;
}

button {
  background: green;
  border: none;
  color: white;
  box-shadow: none;
  min-width: 5rem;
  height: 2rem;
  border-radius: 12px;
  font-family: Courier New;
  font-size: 1rem;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: auto;
}

button:hover {
  outline: solid 2px lightgreen;
}

a {
  margin: 1rem 0;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover {
  background: green;
}

.header {
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 20vh;
  font-weight: 500;
}

.Message {
  margin-top: 2rem;
  width: 40vh;
  text-align: center;
}

.HomeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 40vh;

  &__connected-acct {
    position: absolute;
    bottom: 10vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    > span {
      margin-bottom: 0.5rem;
    }
  }

  &__a-github {
    position: absolute;
    bottom: 5vh;
    color: white;
  }
}

.etherscan-link {
  a {
    color: black !important;
  }
}

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__form-row {
    display: flex;
    flex-direction: row;
  }

  &__partnership-details {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    align-items: flex-start;
    border: 2px solid green;
    padding: 10px;
    border-radius: 5px;
    background: white;
    font-size: 20px;

    > div {
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }
}

.NewParty {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  &__form-row {
    display: flex;
    flex-direction: row;
  }

  &__estimate-btn {
    min-width: 70vh;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  &__link-stack {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      background: none;
      color: white;
      cursor: pointer;
      border-radius: 0;
      outline: none;
      height: auto;
      padding: 0;
    }

    button:hover {
      background: green;
    }
  }

  &__all-partys {
    width: 50vh;
    text-align: center;
  }
}
